<mat-toolbar color="primary" [class.mat-elevation-z8]="true">
  Foodalogue

  
  <button mat-button class="button-pad"> <mat-icon class="icon-pad" >home</mat-icon> Home</button>
  <button mat-button> <mat-icon class="icon-pad">star</mat-icon> Favourites</button>

  <span class="spacer"></span>
  <button mat-button color ="warm" [matMenuTriggerFor]="menu"> <mat-icon >account_circle</mat-icon> Account
    <mat-icon >arrow_drop_down</mat-icon>
  
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Login</button>
    <button mat-menu-item>Sign Up</button>
  </mat-menu>

</mat-toolbar>
