<br><br><br>

<div class="container">

        <form #restaurants = "ngForm" (ngSubmit) = "fetchRestaurants(restaurants.value)">
            <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="searchForm">
                <input matInput type="text" name="city" placeholder="City" ngModel>
            </mat-form-field>

            <mat-form-field appearance="outline" class="searchForm">
                <input matInput type="text" name="cuisine" placeholder="Cuisine" ngModel>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="searchForm">Search</button>
        </form>

</div>


