.mat-card{
    
    background-color: #333333;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width:100%;
    height: 190px;
   
}
.foottext{
    color:white;
    font-size: 20px;
    flex: 1 1 auto;
}
.mat-list-item{
    color:white;
    font-size: 15px;
    font-family: cursive;
    align-content: center;
}
